header
    .big-img-bg(style='background-image:url(images/city.jpg)')
    .h-cont
        a(href='#').logo: include ../img/logo.tracy.svg
        .title
            .tlt Be sure you put your feet
            .after-tlt: b in the right place
        .form-cont
            .row-1
                input(type=text, placeholder='Enter your zip code')
            .row-2
                img(src='./img/cities.jpg')
            .row-3 This is Photoshop's version #[br] of Lorem Ipsum.
            .row-4
                button press me



