@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

$opensans: 'Open Sans', sans-serif;

@import "blocks/vars";
@import "blocks/pulse";
@import "blocks/header";

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: $opensans;
}

.wr{
  max-width: 870px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.boxes-cont{
  padding: 60px 0 100px 0;

  .wr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .col{
      width: 48%;
      display: flex;
      align-items: flex-start;

      @include media(){
        width: 100%;
        margin-bottom: 40px;
      }

      &>.icon{
        margin-right: 30px;
      }
      &>.text-cont{
        .title{
          color: black;
          font-size: 27px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .text{
          color: #4f4e4e;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
        }
      }

    }
  }
}
.sec-1{
  background: $green;
  padding: 80px 0 20px ;

  &>.wr{
    padding-top: 195px;
    background: url("../img/tablets.png") no-repeat center top;

    .title{
      max-width: 652px;
      color: white;
      font-size: 39px;
      font-weight: 600;
      margin: 0 auto 25px auto;
      text-align: center;
    }

    .text-cont{
      max-width: 652px;
      margin: 0 auto;
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      p:not(:last-of-type){
        margin-bottom: 35px;
      }
    }
  }
}
.sec-2{
  background: #44a36f;
  margin-top: -30px;
  &:before{
    content: '';
    display:block;
    height: 334px;
    background: url("../img/skew.jpg") no-repeat center top / 100% 100%;

    @include media(){
      height: 150px;
      background-position: right top;
      //background-size: cover;
    }
  }
  &>.cont{
    padding-top: 35px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .laptop{
      width: calc(39% - 35px);
      margin-right: 35px;
      min-height: 435px;
      background: url("../img/laptop.png") no-repeat right top;
    }
    .right-col{
      width: 61%;

      .text-cont{
        max-width: 502px;

        .title{
          color: white;
          font-size: 39px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        p{
          color: white;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
        }
        .button-cont{
          margin-top: 25px;

          a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 202px;
            height: 57px;
            border: 3px solid white;
            border-radius: 5px;
            box-sizing: border-box;
            
            color: white;
            font-size: 27px;
            font-weight: 600;

            &:hover{
              background:white;
              color: $green;
            }
          }
        }
      }
    }

    @include media(){
      .laptop{
        width: 100%;
        margin-right: 0;
        background: url("../img/laptop.png") no-repeat calc(50% - 72px) top / contain;
        z-index: 1;
      }
      .right-col{
        width: 100%;
        z-index: 2;
        margin-top: -250px;
        padding: 0 10px 35px;
        box-sizing: border-box;


        .text-cont{
          max-width: 100%;

          .title{
            text-align: center;}
          .button-cont{
            text-align: center;
          }
        }
      }
    }

  }
}
.map-sec{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 160px 0 50px 0;

  .map{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      //transform: scale(1.5);
    }

  }
  .circle-cont{
    $s: 435px;

    @include media(){
      $s: 300px;
    }

    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $s; height: $s;
    border-radius: 50%;
    background-color: rgba(white, .85);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);


    form{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 18%;

      *:not(.check){
        display:block;
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
        outline: none;
        color: #4c505d;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        background-color: white;
        border: 1px solid #d8d8d8;
        padding: 8px 16px;

        margin-bottom: 13px;

        &:last-child{
          margin-bottom: 0;
        }
      }
      .check{
        margin: 30px 0 -75px 0;
        width: 66px;
        height: 66px;
        background: url("../img/check.png") no-repeat center / contain;
        -webkit-appearance: none;
        border: 0;
        cursor: pointer;

        @include media(){
          width: 33px;
          height: 33px;
          margin: 1px 0 -45px 0;
        }
      }

    }
  }
}
footer{
  text-align: center;
  padding: 14px 10px;
  background-color: #43a06d;

  color: white;
  font-size: 14px;
  font-weight: 400;
}

//--
.after-tlt{
  opacity: 0;
  transition: all 0.3s ease;
}


