.boxes-cont
    .wr
        .col
            img.icon(src='./img/Pages.jpg')
            .text-cont
                .title Documents
                .text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
        .col
            img.icon(src='./img/Camera.jpg')
            .text-cont
                .title Photos
                .text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin
