.sec-2
    .cont
        .laptop
        .right-col
            .text-cont
                .title This is a Heading
                +lipsum(1, "paragraphs")
                .button-cont
                    a.btn(href="#!") Download

