header
    .big-bg(style="background-image: url(./image/city.jpg)")
    a.logo(href="#!")
        include ../../img/logo.tracy.svg
    .text-cont
        .row-1.tlt Be sure you put your feet
        .row-2.after-tlt
            b in the right place

    .form-cont
        form
            input(type="text" placeholder="Enter your zip code")
            .cities
                img(src="../img/cities.jpg")
            .descr This is Photoshop's version #[br] of Lorem Ipsum.
            .btn-cont
                button Press me
