include viev-blocks/_lipsum

doctype html
html
    head
        title Frontend test for Hayk by Shturnev Sergey
        meta(charset="utf-8")
        meta(name='viewport' content ='width=device-width, initial-scale=1')

    body
        include viev-blocks/header
        include viev-blocks/boxes
        include viev-blocks/sec-1
        include viev-blocks/sec-2

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')







